<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=10">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>EasyShop</title>
</head>


<body>
    <div id="app">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <a class="navbar-brand" href="/">EasyShop</a>

                    <search v-model="searchLine" @filter="filter">

                    </search>

                </div>
            </nav>

        </header>
        <main>
            <div>

                <p>Общая стоимость всех товаров: <span class="all-sum"></span></p>

                <button type="button" v-on:click="showBasket" class="btn btn-secondary" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    Просмотр коризны
                </button>

                <button type="button" v-on:click="closeBasket" class="btn btn-secondary" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    Закрыть коризну
                </button>

                <basket-list :basket_on="basket_on" :basket="basket">
                </basket-list>

            </div>
            <article>
                <div class="goods-list row row-cols-1 row-cols-md-2 g-4">
                    <div class="good-item" v-for="item in filteredGoods">
                        <h3>{{item.title}}</h3>
                        <h5>{{item.price}}</h5>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis dignissimos, libero
                            mollitia,
                            expedita doloremque ullam accusantium alias recusandae quam odio nobis. Quis quo quidem in
                            doloribus aut? Dolore, architecto repellendus!</p>
                        <button v-on:click="addBasket(item)" class="btn btn-secondary">add</button>
                    </div>
                </div>
            </article>
        </main>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="js/base.js"></script>

</html>